<h3><a href="#!/index">Ingest</a> | Query | <a href="#!/auth">Auth</a></h3>

<div class="resultsContainer" style="width:1200px;height:420px;">
    <div class="resultsWindow" style="min-width:450px;min-height:350px;display:inline-block;">
        <h4>Results</h4>
        <textarea style="min-width:400px;min-height:300px;" ng-model="render.results" disabled></textarea><br>
        <button type="button" ng-click="submitQuery()">Query Datapoints</button>
        <button type="button" ng-click="submitLatestQuery()">Query Latest</button>
        <button type="button" ng-click="clearQueryResults()">Clear</button>
    </div>
    <div class="queryWindow" style="width:220px;height:350px;display:inline-block;">
        <h4>Query</h4>
        <textarea style="width:200px;height:300px;" ng-model="render.query" disabled></textarea>
    </div>
    <div class="queryImport" style="width:220px;height:350px;display:inline-block;">
        <h4>Import Query</h4>
        <textarea style="width:200px;height:300px;" ng-model="rawQuery.string"></textarea><br>
        <button type="button" ng-click="importQuery()">Import Query</button>
    </div>
</div>
<div class="controlsContainer" style="margin-top:25px;">
    <div class="tags" style="margin:10px;">
        <h4>Misc Search</h4>
        <form ng-submit="queryTags()">
            <label style="vertical-align:top;display:block;">Tags: </label><textarea ng-model="render.tags" style="min-height:250px;min-width:250px;display:block;" disabled></textarea>
            <button type="button" ng-click="getAllTags()" style="vertical-align:top;display:block;">Get All Tags</button>
        </form>
    </div>
    <div class="aggregations" style="margin:10px;">
        <label style="vertical-align:top;display:block;">Aggregations</label>
        <textarea ng-model="render.aggregations" style="height: 250px; width:360px;display:block;" disabled></textarea>
        <button type="button" ng-click="getAggregations()" style="vertical-align:top;display:block;">Get Aggregations</button>
    </div>
</div>
<div class="authorization" style="margin-top:25px;width:850px;">
    <h4>Authorization</h4>
    <div style="display:inline;width:250px;">
        <form>
            <label>UAA: </label><input type="text" ng-model="auth.uaa"><br>
            <label>Client ID: </label><input type="text" ng-model="auth.clientId"><br>
            <label>Client Secret: </label><input type="text" ng-model="auth.clientSecret"><br>
            <label>Instance URI: </label><input type="text" ng-model="auth.instanceUri"><br>
            <label>Predix Zone ID: </label><input type="text" ng-model="auth.predixZoneId"><br>
            <label>Access Token: </label><input type="text" ng-model="auth.access_token"><br>
    </div>
    <div class="serverJson" style="display:inline;width:480px;">
        <h3>Import Auth Blob</h3>
        <textarea ng-model="authJSON.object"></textarea>
        <button ng-click="importAuthJson()">Import Auth</button>
    </div>
</div>